<% layout('layout/boilerplate') -%>

<div class="row">
    <div class="alert alert-danger col-8 offset-3" role="alert">
        <h3><%- err.message %></h3> <br>
        <h4><%- err.stack %></h4>
      </div>
</div>