<% layout('layout/boilerplate') -%> 

<style>
   

</style>

  <div>
    <h1>All Listings</h1>

    <div id="filters">
        <div class="filter">
            <i class="fa-solid fa-fire"></i>
            <p>Trending</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-bed"></i>
            <p>Rooms</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-mountain-city"></i>
            <p>Iconic Cities</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-mountain"></i>
            <p>Mountains</p>
        </div>
        <div class="filter">
            <i class="fa-brands fa-fort-awesome"></i>
            <p>Castles</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-person-swimming"></i>
            <p>Amazing Pools</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-campground"></i>
            <p>Camping</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-tractor"></i>
            <p>Farm</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-snowflake"></i>
            <p>Arctic</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-person-swimming"></i>
            <p>Amazing Pools</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-campground"></i>
            <p>Camping</p>
        </div>
        
        <div class="tax-toggler">
            <div class="form-check-reverse form-switch filter">
                <input class="form-check-input switchCheck" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Display Taxes</label>
            </div>
        </div>
    </div>

    <div class="row row-cols-lg-3  row-cols-md-2 row-cols-sm-1 mt-3">
        <% lists.map((listing) => { %>
            <a href="/listings/<%- listing._id %>" class="listing-link">
                <div class="card col listing-card" style="width: 23rem; ">
                    <img src="<%- listing.image.url %>"  class="card-img-top" alt="..." style="height: 20rem;">
                    <div class="card-img-overlay">fgd</div>
                    <div class="card-body text-start">
                        <p class="card-text">
                            <%- listing.title %> <br> 
                             <%= Number(listing.price).toLocaleString("en-IN", { style: "currency", currency: "INR" }) %>/night
                             <i style="color: #222222;" class="taxes">&nbsp; &nbsp;18% GST</i>
                        </p>
                    </div>
                </div>
            </a>
        <% }) %>
    </div>
  </div>




<script>
    let taxChecker = document.querySelector(".switchCheck");

    
taxChecker.addEventListener("click", (e) => {
   let taxes = document.querySelectorAll(".taxes");

   for(let tax of taxes){
    tax.classList.toggle("active");
   }
})
</script>